@model List<Domain.Model.Poll>

<h2>Available Polls</h2>

<ul>
    @foreach (var poll in Model)
    {
        <li>
            <strong>@poll.Title</strong> - @poll.DateCreated.ToString("g")
            <br />
            <a asp-action="Vote" asp-route-id="@poll.Id">Vote Now</a>
        </li>

        <a asp-action="Details" asp-route-id="@poll.Id">Vote Now</a>
    }

</ul>
