@model Domain.Model.PollCreationModel

<h2>Create Poll</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Option1Text"></label>
        <input asp-for="Option1Text" />
        <span asp-validation-for="Option1Text"></span>
    </div>
    <div>
        <label asp-for="Option2Text"></label>
        <input asp-for="Option2Text" />
        <span asp-validation-for="Option2Text"></span>
    </div>
    <div>
        <label asp-for="Option3Text"></label>
        <input asp-for="Option3Text" />
        <span asp-validation-for="Option3Text"></span>
    </div>
    <button type="submit">Create Poll</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}